.page {
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.main {
  display: flex;
  text-align: center;
  padding: 0px 18px;
  /* width: 100%; */
  padding-bottom: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 25px;
}

.fob {
  position: fixed;
  bottom: 10px;
  right: 10px;
}